body {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: Cabin;
}

section {
  margin-left: 10%;
  margin-right: 10%;
}

.mt-n1 {
  margin-top: -0.5rem !important;
}

hr {
  margin: 10;
  height: 0.5rem;
  color: rgb(51, 51, 51);
}

.container-fluid {
  background-color: #373a3c;
  color: #ffffff;
}

#logo_ricomida {
  font-family: "Lobster", sans-serif;
  font-size: 37px;
  color: #ffffff;
}

a {
  color: #ffffff;
}

ul {
  margin-left: 72%;
  margin-right: 10%;
  text-align: right;
}

header,
form,
footer {
  width: 100% !important;
}

.logo_ricomida {
  font-family: "Lobster", sans-serif;
}
